body {
    background: #fff;
    color: #333;
  }

.todo-list {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(203, 253, 251), rgb(182, 207, 207));
    margin: auto;
    width: 50%;
    border: 2px solid #333;
    border-radius: 4%;
    padding: 10px;
}


.todo-item {
    display: flex; 
    height: auto; 
    min-height: 2em; 
    margin: 1em; 
    background-color: rgb(178, 250, 248);
    color: #333;  
    align-items: center; 
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgb(122, 158, 163);
    text-decoration: none;
}



